@model LibraryCatalog.Models.ShelfAndBook

@{
    ViewData["Title"] = "Creatabook";
}
<p>
    @TempData["Massage"]
</p>

<h1>Creatabook</h1>

<h4>ShelfAndBook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Creatabook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="book.Name" class="control-label">שם הספר</label>
                <input asp-for="book.Name" class="form-control" />
                <span asp-validation-for="book.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.Height" class="control-label">גובה הספר</label>
                <input asp-for="book.Height" class="form-control" />
                <span asp-validation-for="book.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.Width" class="control-label">רוחב הספר</label>
                <input asp-for="book.Width" class="form-control" />
                <span asp-validation-for="book.Width" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Shelf.Id" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
